


.d-block {
	height: 200px;
}

.list-group{
	display: inline-block;
	width: 230px;

	min-height: 400px;
	
	float: left;
	margin-top: 15px;
	margin-right: 25px;
	margin-left: 25px;

}

article{
	width: 1025px;
	height: 500px;
	background-color: purple;
	margin-left: 300px;
	margin-top: 35px;
	margin-right: 150px;

	
}

footer{
	background-color: green;
	width: 1300px;
	height: 125px;
	margin-left: 25px;
	margin-top: 15px;
	margin-right: 25px;
	margin-bottom: 25px;
}


	

}
.copy{
	width: 800px;
	height: 115px;
	margin-left: 25px;

	background-color: red;
}

.redes{

	height: auto;
	width: auto;
	max-width: 50px;
	max-height: 50px;
	margin-left: 850px;

}
 section{
 	background-color: red;
 	width: 290px;
 	float: left;
 }

 #face{
 	height: 15px;
 }

 .divparrafo{
 	width: 700px;
 	background-color: red;
 }
 .general{
 	float: left;
 }